$color-green: #519872;
$color-orange: #de6449;
$color-light: #cccec6;
$color-violet: #380679;
$color-dark: #3b5249;

$colors: (
  "green": $color-green,
  "orange": $color-orange,
  "light": $color-light,
  "violet": $color-violet,
  "dark": $color-dark,
);
