.user {
  width: 260px;
  border-radius: 1.5rem;
  background-color: $color-light;
  border: 5px solid $color-green;
  position: relative;

  label {
    color: $color-orange;
    margin-bottom: 0.25rem;
    font-weight: 700;
    font-size: 0.7rem;
    font-style: italic;
  }

  &__name {
    text-align: center;
    color: $color-dark;
    padding-top: 4.5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    min-height: 3rem;
    padding: 1rem 1rem;

    &:not(:first-of-type) {
      border-top: 1px solid rgba($color-green, 0.4);
    }
  }

  &__picture {
    display: flex;
    background-color: $color-dark;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid $color-green;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
